<table class="outer" cellspacing="1">
<tr>
<th><{$block.lang_illu}></th>
<th><{$block.lang_subject}></th>
<th><{$block.lang_summary}></th>
<{if $block.user_infos}>
	<th><{$block.lang_info}></th>
<{/if}>
</tr>

<{foreach item=block from=$block.mymedias}>
<tr class="<{cycle values="even,odd"}>">
<td><a href="<{$block.link}>"><img src="<{$block.artimage}>" width="<{$block.artimage_size}>"></a></td>
<td><a href="<{$block.link}>"><{$block.subject}></a></td>
<td><{$block.summary}></td>
<{if $block.user_infos}>
	<td><{$block.offline}><{$block.user_infos}></td>
<{/if}>
</tr>
<{/foreach}>
</table>
<div style="text-align:right; padding: 5px;">
<a href="<{$xoops_url}>/modules/myMedia/"><{$block.lang_visitmyMedia}>...</a>
</div>